# Make a copy of this file and name it .env
# DO NOT CHECK .env into VCS since you will leak credentials!
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
DBNAME=bigneon
DATABASE_URL=postgres://postgres:password123@pg/bigneon
BN_DB_PATH=../bn-db
COOKIE_SECRET_KEY=12345678901234657890123456789012
API_URL=0.0.0.0
API_PORT=9000
TOKEN_SECRET=12345
TOKEN_ISSUER=bg-sample-issuer
MAIL_FROM_EMAIL=support@yoursite.com
MAIL_FROM_NAME="Big Neon Support"
MAIL_SMTP_HOST="localhost"
MAIL_SMTP_USER_NAME="user"
MAIL_SMTP_PASSWORD="password"
MAIL_SMTP_PORT=25
# Web app envars
REACT_APP_API_PROTOCOL=http
REACT_APP_API_HOST=localhost
REACT_APP_API_PORT=9000
SUPERUSER_EMAIL=superuser@test.com
SUPERUSER_PASSWORD=password
SUPERUSER_MOBILE=5551231234
FRONT_END_URL=http://localhost
ALLOWED_ORIGINS=http://localhost:3000
REACT_APP_FACEBOOK_APP_ID=12345
REACT_APP_GOOGLE_PLACES_API_KEY=12345
