# Make a copy of this file and name it .env
# DO NOT CHECK .env into VCS since you will leak credentials!
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
DBNAME=bigneon
DATABASE_URL=postgres://postgres:password123@pg/bigneon
BN_DB_PATH=../bn-db
COOKIE_SECRET_KEY=12345678901234657890123456789012
API_URL=0.0.0.0
API_PORT=9000
ALLOWED_ORIGINS=http://localhost:3000
SUPERUSER_EMAIL=superuser@test.com
SUPERUSER_PASSWORD=password
SUPERUSER_MOBILE=5551231234
TOKEN_SECRET=12345
TOKEN_ISSUER=bg-sample-issuer
COOKIE_SECRET_KEY=8373b8987dab284b39c93bcda294bc294b284b72b29cd9028bca

MAIL_FROM_EMAIL=support@bigneon.com
MAIL_FROM_NAME="Big Neon Support"

MAIL_SMTP_HOST="localhost"
MAIL_SMTP_USER_NAME="user"
MAIL_SMTP_PASSWORD="password"
